#après les variables sont définies : cp .env.example .env ou créer un fichier .env avec les variables définies
# ou simplement renommer le fichier .env.example en .env

# MongoDB connection (local or Atlas)
# créer un compte sur mongodb atlas et obtenir la chaîne de connexion et la coller ici (google mongodb atlas)
MONGODB_URI=mongodb://127.0.0.1:27017
#le nom de la base de données par défaut est triphive
MONGODB_DB_NAME=triphive

#générer une clé secrète pour le token jwt en utilisant la commande suivante :
# openssl rand -base64 64
# ou utiliser un outil de génération de clé secrète pour le token jwt (google search "generate jwt secret")
JWT_SECRET=

#le mot de passe de l'administrateur par défaut est najm1234 (changer ici)

ADMIN_PASSWORD=najm1234

